.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: url(../public/background-mobile.svg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

@media only screen and (min-width: 600px) {
  body {
    background: url(../public/background.svg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}

.euiTable {
  background: none !important;
}

.youtube-video-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: 0;
  padding-bottom: 50%;
  border-radius: 6px;
  overflow: hidden;
}

.youtube-video-iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .youtube-video-container {
    width: 640px;
    height: 360px;
    padding-bottom: 0px;
  }

  .youtube-video-iframe {
  }
}

.highlight em {
  font-weight: bold;
  background-color: #61dafb;
  color: black;
  font-style: normal;
}

.transcript mark {
  background-color: #61dafb;
}

.suggestItem span {
  font-family: inherit !important;
}
